{% extends 'base.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block body %}
    <div class="jumbotron">
    <h1 class="bg-dark d-block text-white">La liste des achats</h1>

    <table class="table jumbotron">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_achat</th>
                <th>Utilisateur</th>
                <th>Pack Jeton</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.id }}</td>
                <td>{{ achat.dateAchat ? achat.dateAchat|date('Y-m-d') : '' }}</td>
                <td>{{ achat.utilisateur }}</td>
                <td>{{ achat.packJeton }}</td>
                <td class="d-block d-md-block display-4">
                    <a href="{{ path('achat_show', {'id': achat.id}) }}" class="btn btn-primary">Voir</a>
                    <a href="{{ path('achat_edit', {'id': achat.id}) }}" class="btn btn-success mr-3">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('achat_new') }}" class="btn btn-primary">Creation achat</a>
    </div>
{% endblock %}
