{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block body %}
    <div class="container">
    <h1>Achat<a href="{{ path('achat_index') }}" class="btn btn-primary float-right mr-3 mt-3 mb-3">retour à la liste</a></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>PackJeton</th>
                <th>Date_achat</th>
                <th>Action</th>

            </tr>
            <tr>
                <td>{{ achat.id }}</td>
                <td>{{ achat.utilisateur }}</td>
                <td>{{ achat.packJeton }}</td>
                <td>{{ achat.dateAchat ? achat.dateAchat|date('Y-m-d') : '' }}</td>
                <td class=""> <a href="{{ path('achat_edit', {'id': achat.id}) }}" class="btn btn-success">modifier</a></td>

            </tr>

        </tbody>
    </table>
    <p class="float-right">{{ include('achat/_delete_form.html.twig') }}</p>
    </div>
{% endblock %}
